body {
  background-color:#fcee74;
  text-align:center;
  color:#000000;
  font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}

.button {
  background-color: #000000;
  border: none;
  color: #cccccc;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #333333;
}

.