body {
  background-color:#3ea814;
  text-align:center;
  color:#330000;
  font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.button {
  background-color: #330000;
  border: none;
  color: #ffcccc;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #990000;
}
